body{
	background-color:#090909;
}
.blok{
	color:white;
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	margin-left: 620px;
}

.tac{
	font-family: Verdana;
	font-size:40px;
	color:blue;
	display:flex ;
	align-items: center;
	height: 100%;
	
}

.blok a {
	

	font-size: 25PX;
	margin-right: 30px;
}

.head{
	border-radius: 5px;	
	width:1200px;
	height:50px;
	background-color:#2F4F4F;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 25px;
	margin-right: 25px;
}

.rec{
	border-radius: 5px;	
	width:200px;
	height:200px;
	background-color:#2F4F4F;
	margin:25px;	
}

.rec a{
	margin:5px;
}

.block {
	color:white;
	display: flex;
  	flex-direction: column;
  	justify-content: space-evenly;
  	align-items: center;
  	height: 100%;
  	font-size: 20PX;
  	margin: px;
}

.rectan{
	border-radius: 5px;	
	width:160px;
	height:160px;
	background-color:#00FFFF;
	position:absolute;
	margin: 20px;  	
}
.box{
	border-radius: 5px;
	width:800px;
	height:350px;
	background-color:#2F4F4F;
	margin-left: 220px;
	margin-top: -200px;
}
.boxes{
	border-radius: 5px;	
	width:300px;
	height:300px;
	background-color:#00FFFF;
	
}
.fle{
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}
.dbox{
	border-radius: 5px;
	width:800px;
	height:200px;
	background-color:#2F4F4F;
	margin-top: 130px;
	margin-left: 200px;
}
.dboxes{
	border-radius: 5px;	
	width:150px;
	height:100px;
	background-color:#00FFFF;	
}

.flex{
	display: flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}
.boxe{
	border-radius: 5px;
	width:800px;
	height:250px;
	background-color:#2F4F4F;
	margin-left: 245px;
	margin-top: 175px;
}
.flexe{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
.flexes{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.dboxe{
	border-radius: 5px;	
	width:125px;
	height:75px;
	background-color:#00FFFF;
	margin: 30px;
}
.crod{
	border-radius: 5px;	
	width:300px;
	height:300px;
	background-color:red;
	position:absolute;
	margin: 20px;  	
}
.dsboxes{
	border-radius: 5px;	
	width:300px;
	height:300px;
	background-color:#2F4F4F;
	margin-left: 20px;
}
.fle{
	display: flex;
	justify-content: flex-start;
	height: 100%;
	
	margin-left: 20px;
}