body{
	background-color:#090909;
}

.head{
	border-radius: 5px;	
	
	background-color:#2F4F4F;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 25px;
	margin-right: 25px;
}
.logo {
	font-size: 40px;
	color: blue;
	margin-right: 25px;
	font-family: Verdana;

}
.box{
	border-radius: 5px;	

	background-color:#2F4F4F;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 25px;
	margin-right: 25px;
	display: flex;
	justify-content: center;
	
	align-items: center;

}


.blok > a {
	margin-top: 15px;
	margin-right: 25px;
}

.blok{
	color:white;
	font-size:25px;
	display: flex;
	justify-content: center;
	height: 100%;
	
}
.boxqw{
	border-radius: 5px;	

	background-color:#2F4F4F;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 25px;
	margin-right: 25px;
	display: flex;
}
.mainphoto{
	border-radius: 5px;	
	height: 300px;
	width: 300px;
	background-color:#00FFFF;
	margin:25px;
	
}
.text{
	font-family: cursive;
	align-self: center;
	margin:20px;
	color:white;
}
.boxds{
	border-radius: 5px;	

	background-color:#2F4F4F;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 25px;
	margin-right: 25px;
	display: flex;
	flex-direction: row-reverse;
}
.textds{
	font-family: cursive;
	align-self: center;
	margin:20px;
	color:white;
	text-align: right;
}
.boxf{
	border-radius: 5px;	

	background-color:#2F4F4F;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 25px;
	margin-right: 25px;
	display: flex;
	justify-content: center;
	
	align-items: center;

}
.boxa3{
	border-radius: 5px;	
	height: 230px;
	width: 180px;
	background-color:white;
	margin:10px;
	text-align: center;

}
.baxa3{
	height: 100px;
	width: 150px;
	margin:15px;
	background-color:#4682b4;
}
.textbutton{
	height: 40px;
	width: 150px;
	background-color: #ADD8E6;
	border-color: #0ffff0;
	border-radius: 7px;
}

.rec{
	border-radius: 5px;	
	height: 150px;
	width: 175px;
	background-color:white;
	position: relative;
	top:px;
	margin-right: 20px;
	

}


.boxqw{
	border-radius: 5px;	
	height: 200px;
	background-color:#2F4F4F;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 25px;
	margin-right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}